@import '../../styles/base.scss';

.FighterContainer {
  align-items: center;
  display: grid;
  grid-auto-flow: row dense;
  justify-content: center;

  @include breakpoint($sm) {
    grid-template-columns: auto auto;
  }

  @include breakpoint($xl) {
    grid-template-columns: 15% auto 15%;
  }
}
