@import '../../styles/base.scss';

.fighterRow{
  animation: gradient 15s linear infinite;
  background: linear-gradient(
    135deg,
    $marigold 5%,
    $marigold 15%,
    $glaicer_freeze 23%,
    $glaicer_freeze 36%,
    $royal_purple 48%,
    $royal_purple 52%,
    $glaicer_freeze 64%,
    $glaicer_freeze 77%,
    $marigold 85%,
    $marigold 95%
  );
  background-size: 1000% 10%;
  border: 2px solid black;
  border-right: 0px;
  border-top: 0px;
  display: flex;
  flex-direction: row;
}

@keyframes gradient {
	0% {
    background-position: 100% 0%;
  }
  
  50% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}
