/***************************
 *         Spacing         *
 ***************************/
$gap:	32px;
$mobile-landscape: 576px;
$tablet: 768px;
$desktop:	960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

$sm: $mobile-landscape;
$md: $tablet;
$lg: $desktop;
$xl: $widescreen;
$hd: $fullhd;

@mixin breakpoint($point) {
  @if $point == $sm {
    @media (min-width: $sm) { @content }
  }
  @else if $point == $md {
    @media (min-width: $md) { @content }
  }
  @else if $point == $lg {
    @media (min-width: $lg) { @content }
  }
  @else if $point == $xl {
    @media (min-width: $xl) { @content }
  }
  @else if $point == $hd {
    @media (min-width: $hd) { @content }
  }
}
