/***************************
 *         Colours         *
 ***************************/
$primary-selection-color: #ff1e00;
$secondary-selection-color: #3661ff;
$marigold: rgba(255, 221, 10, 1);
$glaicer_freeze: rgba(0, 212, 255, 1);
$royal_purple: rgba(106, 49, 255, 1);
