@import '../../styles/base.scss';

.FighterSelection {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .fighterRow:first-child {
    border-top: 2px solid black;
  }
  
  @include breakpoint($sm) {
    grid-column: span 2/2;
    grid-row: 1;
  }

  @include breakpoint($xl) {
    grid-column: 2;
  }
}
