.stage {
  display: flex;
  position: relative;
}

.stageCard {
  position: relative;
  margin: 0 auto;
  max-width: 325px;

  .namePlate {
    background-color: black;
    border: 1px dashed white;
    height: 30px;
    // margin: 0 3px;
    max-width: 100%;
  }

  img {
    border: 1px dashed white;
    height: auto;
    max-height:100%;
    max-width:100%;
    width: 150px;
  }

  .name {
    color: white;
    font-size: 12px;
    padding: 0.25em 2px;
    margin: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}