@import '../../styles/base.scss';
$temp: white;

.FighterChoice {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 4px solid $temp;
  display: flex;
  filter: drop-shadow(15px 15px 4px $temp);
  justify-content: center;
  margin: auto;
  position: relative;
  overflow: hidden;

  &.vertical {
    transform: skewY(-5deg);

    @include breakpoint($sm) {
      @include hidden;
    }

    @include breakpoint($xl) {
      @include visible(flex);

      height: 428px;
      margin: auto;
      width: 124px;
    }
  }

  &.horizontal {
    @include breakpoint($sm) {
      background-size: cover;
      height: 50px;
      grid-column: auto;
      grid-row: 2;
      margin: .5em auto 0;
      width: 270px;
    }

    @include breakpoint($lg) {
      height: 150px;
      margin: 2em auto;
    }

    @include breakpoint($xl) {
      @include hidden;
    }

    &.faceLeft {
      filter: drop-shadow(-15px 15px 4px $temp);
      transform: none;

      img {
        transform: scale(-1,1);
      }
    }
  }

  &.faceLeft {
    filter: drop-shadow(-15px 15px 4px $temp);
    transform: skewY(5deg);

    img {
      transform: scale(-1,1);
    }
  }

  &:hover {
    .helpText {
      @include visible(flex);
    }
  }

  .helpText {
    @include absolute-position;

    @include breakpoint($sm) {
      @include visible(flex);
    }

    @include breakpoint($xl) {
      @include hidden;
    }

    align-items: center;
    background-color: rgba(1, 1, 1, 0.5);
    color: white;
    font-variant: small-caps;
    height: 100%;
    margin: auto 0;
    text-align: center;
    width: 100%;
  }
}