@import '../../styles/base.scss';

.MainLayout {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  overflow-y: scroll;

  header, footer {
    color: white;
    border: 5px solid;
    left: 0;
    position: inherit;
    right: 0;
    text-align: center;
  }

  header {
    border-color: red;
    top: 0;
  }

  footer {
    border-color: green;
    bottom: 0;
    position: absolute;
    transform: translateY(95%);
  }

  main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
  }
}
