@import '../../styles/base.scss';

.fighter {
  display: flex;
  position: relative;
}

.fighterCard {  
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 2px solid;
  position: relative;

  @include breakpoint($sm) {
    height: 30px;
    width: 50px;
  }

  @include breakpoint($md) {
    height: 38px;
    width: 62px;
  }

  @include breakpoint($lg) {
    height: 55px;
    max-width: 100px;
    width: 90px;
  }

  &:hover {
    z-index: 2;

    .selection {
      @include visible(inline);
    }
  }

  .selection {
    &.player-one {
      @include blink-animation(primary-blink);
      border-color: $primary-selection-color;

      .bottomRight,
      .topLeft {
        @include blink-animation(primary-corner-blink);
      }

      .bottomRight {
        border-top-color: $primary-selection-color;
      }

      .topLeft {
        border-bottom-color: $primary-selection-color;
      }
    }
    &.player-two {
      @include blink-animation(secondary-blink);
      border-color: $secondary-selection-color;

      .bottomRight,
      .topLeft {
        @include blink-animation(secondary-corner-blink);
      }

      .bottomRight {
        border-top-color: $secondary-selection-color;
      }

      .topLeft {
        border-bottom-color: $secondary-selection-color;
      }
    }

    @include absolute-position;
    @include hidden;

    @include breakpoint($sm) {
      border-width: 2px;
    }

    @include breakpoint($lg) {
      border-width: 4px;
    }

    border: solid;
    height: 100%;
    width: 100%;

    .bottomRight,
    .topLeft {
      height: 0;
      position: absolute;
      width: 0;
    }

    .bottomRight {
      @include breakpoint($sm) {
        border-right-width: 6px;
        border-top-width: 6px;
      }

      @include breakpoint($lg) {
        border-right-width: 12px;
        border-top-width: 12px;
      }      

      border-right: solid transparent;
      border-top: solid;
      left: 0;
      top: 0;
    }

    .topLeft {
      @include breakpoint($sm) {
        border-bottom-width: 6px;
        border-left-width: 6px;
      }

      @include breakpoint($lg) {
        border-bottom-width: 12px;
        border-left-width: 12px;
      }      

      border-bottom: solid;
      border-left: solid transparent;
      bottom: 0;
      right: 0;
    }
  }

  .namePlate {
    background-color: black;
    height: 30px;
    max-width: 100%;
  }

  .name {
    color: white;
    font-size: 12px;
    padding: 0.25em 2px;
    margin: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

@keyframes primary-blink {
	0% {
    border-color: $primary-selection-color;
  }
  
  50% {
    border-color: white;
  }

  100% {
    border-color: $primary-selection-color;
  }
}

@keyframes primary-corner-blink {
	0% {
    border-bottom-color: $primary-selection-color;
    border-top-color: $primary-selection-color;
  }
  
  50% {
    border-bottom-color: white;
    border-top-color: white;
  }

  100% {
    border-bottom-color: $primary-selection-color;
    border-top-color: $primary-selection-color;
  }
}

@keyframes secondary-blink {
	0% {
    border-color: $secondary-selection-color;
  }
  
  50% {
    border-color: white;
  }

  100% {
    border-color: $secondary-selection-color;
  }
}

@keyframes secondary-corner-blink {
	0% {
    border-bottom-color: $secondary-selection-color;
    border-top-color: $secondary-selection-color;
  }
  
  50% {
    border-bottom-color: white;
    border-top-color: white;
  }

  100% {
    border-bottom-color: $secondary-selection-color;
    border-top-color: $secondary-selection-color;
  }
}
